<%= link_to "Return to the list", spots_path, class: "button-27" %>

<div class="formulary-container">
  <h1>New spot</h1>
  <%= simple_form_for @spot do |f| %>
    <div class="form-group">
      <%= f.input :name, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.input :location, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.input :description, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.input :price, class: "form-control" %>
    </div>

    <%= f.input :image, as: :file %>

      <%= f.submit "Create the spot", class: "button-74" %>

  <% end %>

</div>
