<div class="formulary-container">
  <h1>Nouveau spot</h1>
  <%= form_for @spot do |f| %>
    <div class="form-group-spot">
      <%= f.label :name, "Nom du spot" %>
      <%= f.text_field :name, class: "form-control" %>
    </div>

    <div class="form-group-spot">
      <%= f.label :location, "Emplacement du spot" %>
      <%= f.text_field :location, class: "form-control" %>
    </div>

    <div class="form-group-spot">
      <%= f.label :price, "Prix du spot" %>
      <%= f.number_field :price, class: "form-control" %>
    </div>

    <div class="form-button-new-spot">
      <%= f.submit "Créer le spot", class: "btn" %>
    </div>
  <% end %>

</div>
<%= link_to "Retour à la liste des spots", spots_path %>
