<%= link_to "Return to the list", spots_path, class: "button-74"%>

<h1>Your dream's spot </h1>
<div class="show-container">

  <div class="show-card-photo-information">

    <div class="show-card">
      <%= cl_image_tag @spot.image.key, class:"show-image"%>
      <h2><%= @spot.name %></h2>
      <p><%= @spot.description %></p>
      <p> <i class="fa-solid fa-city"></i> <%= @spot.location %></p>
      <p> <i class="fa-solid fa-euro-sign"></i> <%= @spot.price%></p>

      <% if current_user == @spot.user%>
        <%= link_to "Modify the spot", edit_spot_path(@spot), class: "button-74" %>
      <% else %>
      <div data-controller="datepicker">
        <div id="booking-form-div" data-datepicker-target="dates"
            data-bookings="<%= @bookings_dates.to_json %>">
        </div>
          <%= simple_form_for([@spot, @booking]) do |f| %>
            <%= f.input :start_date, as: :string,label: false, input_html: { data: {datepicker_target: "start"}, class: "d-none" } %>
            <%= f.input :end_date, as: :string,label: false, input_html: { data: {datepicker_target: "end"}, class: "d-none" } %>
            <%= f.submit class: "button-74"  %>
          <% end %>
        <% end %>

      </div>

      <% if current_user == @spot.user%>
          <%=link_to "Delete the spot", spot_path(@spot), class: "button-74", data: { turbo_method: :delete, confirm: "Are you sure?", class: "button-74" } %>
        <% else %>
        <% end %>

    </div>
  </div>
</div>
