<h1>Ton spot de rêve </h1>
  <div class="show-card-container">
    <img src="<%= @spot.images %>" alt="Picture">
    <h2><%= @spot.name %></h2>
    <p><%= @spot.location %></p>
    <p><%= @spot.price%></p>
  </div>

<%= link_to "Retour à la liste des spots", spots_path %>
