<h1>My dashboard </h1>

<div class="user-presentation" id="reservations" style="display: none;">
  <!-- Contenu des réservations de spots -->
  <h2>Your reservations :</h2>
  <div class="row">
    <% @bookings.each do |booking| %>
      <div class="col-md-4 mb-4">
        <div class="card">
          <%= cl_image_tag booking.spot.image.key, class: "card-img-top", alt: booking.spot.name %>
          <div class="card-body">
            <h5 class="card-title"><%= booking.spot.name %></h5>
            <p class="card-text">
              <strong>Dates:</strong>
              <%= booking.start_date.strftime("%B %d, %Y") %> au <%= booking.end_date.strftime("%B %d, %Y") %>
            </p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<div class="user-presentation" id="received" style="display: none;">
  <!-- Contenu des réservations reçues pour vos spots -->
  <h2>Your received reservations :</h2>
  <div class="row">
    <% @bookings_received.each do |booking| %>
      <div class="col-md-4 mb-4">
        <div class="card">
          <%= cl_image_tag booking.spot.image.key, class: "card-img-top", alt: booking.spot.name %>
          <div class="card-body">
            <h5 class="card-title"><%= booking.spot.name %></h5>
            <p class="card-text">
              <strong>Dates:</strong>
              <%= booking.start_date.strftime("%B %d, %Y") %> au <%= booking.end_date.strftime("%B %d, %Y") %><br>
              <strong>Email:</strong> <%= booking.user.email %><br>
              <% if booking.status == "pending" %>
                <button class="btn btn-success accept-button">
                  <%= link_to "Accepter", accept_path(booking), data: { turbo_method: "patch" } %>
                </button>
                <button class="btn btn-danger reject-button">
                  <%= link_to "Rejeter", reject_path(booking), data: { turbo_method: "patch" } %>
                </button>
              <% else %>
                <span class="badge bg-secondary"><%= booking.status %></span>
              <% end %>
            </p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<div class="user-presentation" id="spots" style="display: none;">
  <!-- Contenu de vos spots -->
  <h2>Your spots :</h2>
  <div class="row">
    <% @spots.each do |spot| %>
      <div class="col-md-4 mb-4">
        <div class="card">
          <%= cl_image_tag spot.image.key, class: "card-img-top", alt: spot.name %>
          <div class="card-body">
            <h5 class="card-title"><%= spot.name %></h5>
            <p class="card-text">
              <strong>description:</strong> <%= spot.description %><br>
              <strong>Location:</strong> <%= spot.location %><br>
              <strong>Prix:</strong> <%= spot.price %>
            </p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<div class="user-footer text-center mt-4" id="buttons">
    <p>
      <button class="btn btn-primary btn-lg" onclick="showReservations()">View your reservations</button>
      <button class="btn btn-primary btn-lg" onclick="showReceived()">View received reservations</button>
      <button class="btn btn-primary btn-lg" onclick="showSpots()">View your spots</button>
    </p>
    <a href="<%= root_path %>" class="btn btn-secondary btn-lg">Retour</a>
  </div>
</div>

<script>
  function showReservations() {
    document.getElementById("reservations").style.display = "block";
    document.getElementById("received").style.display = "none";
    document.getElementById("spots").style.display = "none";
    // document.getElementById("buttons").style.display = "none";
  }

  function showReceived() {
    document.getElementById("reservations").style.display = "none";
    document.getElementById("received").style.display = "block";
    document.getElementById("spots").style.display = "none";
    // document.getElementById("buttons").style.display = "none";
  }

  function showSpots() {
    document.getElementById("reservations").style.display = "none";
    document.getElementById("received").style.display = "none";
    document.getElementById("spots").style.display = "block";
    // document.getElementById("buttons").style.display = "none";
  }
</script>
