<h1>My Profile</h1>


<h2>Vos réservations de spots :</h2>




<ul>
  <% @bookings.each do |booking| %>
    <li>
      <%= booking.spot.name %> -
      <%= booking.start_date.strftime("%B %d, %Y") %> au
      <%= booking.end_date.strftime("%B %d, %Y") %>
    </li>
  <% end %>
</ul>

<%= link_to 'Retour à la page d\'accueil', root_path, class: 'btn btn-primary' %>
<p>Vous voulez voir d'autres spots ? Vous pouvez les consulter depuis la page <%= link_to 'Voir tous les spots', spots_path, class: 'btn btn-primary' %></p>
